/* Variables CSS */
:root {
  --bg-nav-footer:#9A8FA6;
  --bg-principal: #2E1042;
  --bg-beneficios: #ffffff;

  /* Paleta de colores en base al logo
  ------------------------------------ */
  /*--primary-color: #F28322;
  --second-color: #F2E205;
  --third-color: #F20505;
  --bg-gradient-01:0deg, #3ea7ff 0%, #42d1ff 100%;*/
}

* {
  box-sizing:border-box;
}

/* BASE */

body {
    font-family:'Quicksand', sans-serif;
    line-height:1.5;
} 

a {
  color:#000;
  text-decoration:none;
}

ul {
  list-style:none;
}

/* nav {
  border:solid 1px #000;
} */

/* HELPERS - CLASSES */

.clearfix {
  overflow:hidden;
}
.mb-15 {
  margin-bottom: 15px;
}
.pb-15 {
  padding-bottom:15px;
}
.mt-15 {
  margin-top:15px;
}
.pt-15 {
  padding-top:15px;
}
.ml-15 {
  margin-left:15px;
}
.bg-orange {
  color:#D96459;
}
.text-violet {
  color:#2E1042 5px
}
.text-grey {
  color:#A6A6A6;
}
.text-white {
  color:#fff;
}
.text-center {
  text-align:center;
}
.font-we {
  font-weight: bold;
}
.bg-yellow {
  color:#FFF952;
}
.bg-grey {
  color:#A6A6A6;
}
.bg-violet {
  background-color:var(--bg-principal);
}
.bg-violet2 {
  background-color:var(--bg-nav-footer);
}
.border-principal {
  color:#2E1042 5px;
}
.center-block {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.img-fluid {
  max-width:100%;
  height:auto;
}
.separador {
  width:100%;
  height:5px;
  margin:15px 0;
  background-color:#fff;
}

/* LAYOUT - GRID SYSTEM */

.container {
  width:350px;
  height:auto;
  margin:0px auto;
  padding-left:15px;
  padding-right:15px;
  max-width:100%;
  overflow:hidden;
}

.row {
  margin-right:-15px;
  margin-left:-15px;
}

.col-1,
.col-2,
.col-3,
.col-4 {
  position:relative;
  float:left;
  min-height:1px;
  padding-left:15px;
  padding-right:15px;
}

.col-1 {
width:25%;
}
.col-2 {
width:50%;
}
.col-3 {
width:75%;
}
.col-4 {
width:100%;  
}


/* COMPONENTS (elementos estructurales, btn */

.menu-button i {
  cursor:pointer;
  font-size:24px;
}

  ul.navbar-menu {
    margin:0;
    padding: 5px;
    position:absolute;
    left:-514px;
    background-color: rgba(242, 245, 96, 0.959);
    z-index:99;  
    transition:all 400ms ease-in-out;
  }
    .navbar-item {
      margin-bottom:10px;
    }
      .navbar-link {
        font-size:15px;
        text-transform:uppercase;
        color:#2E1042;
      }
      .navbar-link:hover {
        border-bottom:solid 3px #2E1042;
      }

.menu-button i:hover ~ ul.navbar-menu,
  ul.navbar-menu:hover {
  left:0;
}

.modal-mask {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:rgba(0,0,0,.3);
  opacity:0;
  pointer-events:none;
}

.content {
  width:50%;
  margin:30px auto;
  background-color:#fff;
  color:#000;
  border:solid 2px #000;
  border-radius:8px;
  text-align:left;
}

.modal-mask:target {
  opacity:1;
  pointer-events:auto;
}

.btn {
  display:inline-block;
  padding:8px 18px;
  font-family:'Quicksand', sans-serif;
  font-weight:bold;
  font-size:20px;
  color:#000;
  text-decoration:none;
  border:solid 2px #2E1042;
}
  .btn-sign-in {
    background-color:#FFF952;
    cursor:pointer;
    color:#2E1042;
  }

.block {
    display:block;
    width:100%;
}
.inline {
  display: inline;
  width: 100%;
}

.bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
  /* text-align: center; */
  margin-bottom: 15px;
}
/*.box-article{
  display:inline-block;
  width: 30%;
  padding: 15px;
  text-align: center;
  border: none
}*/

aside {
  height:120px;
  text-align:left;
  background-color: #2E1042;
  background-size:cover;
}
  aside a {
    padding: 10px;
    font-size:30px;
    color:#fff
  }

footer {
  height:120px;
  background-color: #fff;
  background-size:cover;
}

footer a {
  padding:8px;
  color:#2E1042;
  font-weight:bold;
  text-align:center;

  /*background: #000 url("../images/18422-rayas-de-colores.jpg") no-repeat center;
  background-size: cover*/
}

/* PAGES - SECTIONS */

/*#principal,
#beneficios {
  padding: 18px;
  text-align:center;
}*/

#principal article {
  /* background-color:var(--bg-black); */
  text-align:center;
}

#principal form{
  text-align:center;
}

  #principal form input {
    /* background-color: #ccc; */
    font-family:'Quicksand', sans-serif;
    font-weight:bold;
  }
  #principal form input:focus {
    border:solid #000;
  }
  #principal form input[placeholder] {
    font-size: 18px;
    padding: 8px 18px;
    text-align:left;
    border:none;
  }
  #principal form button {
    font-size:18px;
    text-align:center;
  }

#beneficios {
  color:#fff;
  font-size:20px;
  text-align:center;
}

#beneficios img {
  border-radius:50%;
}