/* BASE */

body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
}
    /* background: #000 url("../images/bg-nav.png") no-repeat center center fixed;
    background-size: cover
  } */

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* nav {
  border:solid 1px #000;
} */

  /* HELPERS - CLASSES */

.mt-15 {
  margin-top:15px;
}
.pt-15 {
  padding-top:15px;
}
.text-violet {
  color:#2E1042;
}
.text-grey {
  color:#A6A6A6;
}
.bg-yellow {
  color: #FFF952;
}

  /* LAYOUT - GRID SYSTEM */



  /* COMPONENTS */

ul.navbar-menu {
  margin:0;
  padding:0;
/*  border:solid 1px red; */
}
  .navbar-item {
    margin-bottom:10px;
  }
    .navbar-link {
      font-size:18px;
      text-transform:uppercase;
      color: #2E1042;
    }
    .navbar-link:hover {
      display: inline-block;
      width: 18%;
      padding:5px;
      color: #fff;
      background: #2E1042;
    }

nav {
  
}

header {
  text-align: center;
  padding: 18px;
}

.btn {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding:8px 18px;
  color:#000;
  text-decoration:none;
  border:solid 2px #2E1042;
}
  .btn-sign-in {
    background-color: #FFF952;
  }

aside {
  text-align: center;
  padding: 18px;
}

footer {
  padding:18px;
  /*background: #000 url("../images/bg-nav.png") no-repeat center;
  background-size: cover*/
}

/* PAGES - SECTIONS */


#principal,
#beneficios {
  text-align: center;
  padding: 18px;
}

#beneficios h4 {
  background: #D76754;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

